<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link
      rel="shortcut icon"
      href="assets/images/logo4.png"
      type="image/x-icon"
    />
    <meta name="description" content="" />

    <title>Home</title>
    <link rel="stylesheet" href="assets/web/assets/mobs-icons/mobs-icons.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css" />
    <link
      rel="stylesheet"
      href="assets/bootstrap/css/bootstrap-reboot.min.css"
    />
    <link rel="stylesheet" href="assets/socicon/css/styles.css" />
    <link rel="stylesheet" href="assets/as-pie-progress/css/progress.min.css" />
    <link rel="stylesheet" href="assets/tether/tether.min.css" />
    <link rel="stylesheet" href="assets/theme/css/style.css" />
    <link rel="preload" as="style" href="assets/mobs/css/mbr-additional.css" />
    <link
      rel="stylesheet"
      href="assets/mobs/css/mbr-additional.css"
      type="text/css"
    />
  </head>
  <body>
    <section
      class="cid-s7HVu2Dafd mbr-fullscreen mbr-parallax-background"
      id="header2-2"
    >
      <div
        class="mbr-overlay"
        style="opacity: 0.4; background-color: rgb(35, 35, 35);"
      ></div>

      <div class="container align-center">
        <div class="row justify-content-md-center">
          <div class="mbr-white col-md-10">
            <h1
              class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"
            >
              HEALTH NOTE - BECAUSE WE ARE HUMAN.
            </h1>

            <p class="mbr-text pb-3 mbr-fonts-style display-5"></p>
          </div>
        </div>
      </div>
      <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
          <i class="mbri-down mbr-iconfont"></i>
        </a>
      </div>
    </section>

    <section class="engine"></section>
    <section class="counters3 counters cid-s7HVIkkUz7" id="counters3-3">
      <div class="container pt-4 mt-2">
        <h2
          class="mbr-section-title pb-3 align-center mbr-fonts-style display-2"
        >
          Some facts and figures
        </h2>
        <h3
          class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5"
        >
          Its high time we start taking our mental health also seriously.<br />Acceptance
          will lead to faster growth.
        </h3>
        <div class="media-container-row">
          <div class="media-block m-auto" style="width: 49%;">
            <div class="mbr-figure">
              <img
                src="assets/images/olia-nayda-3tq8i-sr9a8-unsplash.jpg"
                alt=""
                title=""
              />
            </div>
          </div>
          <div class="cards-block">
            <div class="cards-container">
              <div class="card px-3 align-left col-12">
                <div class="panel-item p-4 d-flex align-items-center">
                  <div
                    class="card-img pr-3 d-flex align-items-center align-left"
                  >
                    <h3 class="count py-3 mbr-fonts-style display-2">
                      &nbsp; &nbsp; &nbsp; 78%
                    </h3>
                  </div>
                  <div class="card-text">
                    <h4
                      class="mbr-content-title mbr-bold mbr-fonts-style display-7"
                    ></h4>
                    <p class="mbr-content-text mbr-fonts-style display-5">
                      Adults aged 18-34 from one or the <br />other type of
                      mental disorder.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card px-3 align-left col-12">
                <div class="panel-item p-4 d-flex align-items-center">
                  <div
                    class="card-img pr-3 d-flex align-items-center align-left"
                  >
                    <h3 class="count py-3 mbr-fonts-style display-2">
                      89%
                    </h3>
                  </div>
                  <div class="card-text">
                    <h4
                      class="mbr-content-title mbr-bold mbr-fonts-style display-7"
                    ></h4>
                    <p class="mbr-content-text mbr-fonts-style display-7">
                      Adults aged between 35-64 suffer from serious&nbsp;<br />mental
                      health issues
                    </p>
                  </div>
                </div>
              </div>
              <div class="card px-3 align-left col-12">
                <div class="panel-item p-4 d-flex align-items-center">
                  <div
                    class="card-img pr-3 d-flex align-items-center align-left"
                  >
                    <h3 class="count py-3 mbr-fonts-style display-2">
                      92%
                    </h3>
                  </div>
                  <div class="card-text">
                    <h4
                      class="mbr-content-title mbr-bold mbr-fonts-style display-7"
                    ></h4>
                    <p class="mbr-content-text mbr-fonts-style display-7">
                      65+ aged adults are neglected world-wide just because of
                      their mental health state.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="mbr-section article content10 cid-s7HVMswQO9"
      id="content10-4"
    >
      <div class="container">
        <div class="inner-container" style="width: 66%;">
          <hr class="line" style="width: 25%;" />
          <div
            class="section-text align-center mbr-white mbr-fonts-style display-5"
          >
            We aim to spread mental health awareness among youth because only
            they have the power the change everything and look at things at a
            new perspective.
          </div>
          <hr class="line" style="width: 25%;" />
        </div>
      </div>
    </section>

    <section class="header11 cid-s7I0hEWF1B mbr-fullscreen" id="header11-d">
      <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
          <h3 class="mbr-section-subtitle py-3 mbr-fonts-style display-5">
            WHAT IS HEALTH NOTE? HOW ARE WE DIFFERENT?
          </h3>
          <h1 class="mbr-section-title py-3 mbr-fonts-style display-2">
            The Health Note is a grassroots nonprofit organization whose mission
            is to educate, empower, and support families and communities to
            better understand and care for the mental health of our youth.
            <div></div>
            <div><br /></div>
          </h1>
          <p class="mbr-text py-3 mbr-fonts-style display-5">
            We envision a world made up of informed families and caring
            communities that realize and strengthen the mental health of our
            youth — a world where people are just as aware of their mental
            health as their physical health, where families are validated and
            able to readily access the care they need.
          </p>
          <div class="mbr-section-btn py-4"></div>
        </div>
      </div>

      <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
          <i class="mbri-down mbr-iconfont"></i>
        </a>
      </div>
    </section>

    <section class="progress-bars3 cid-s7I2ryqnZM" id="progress-bars3-f">
      <div class="container">
        <h2
          class="mbr-section-title pb-3 align-center mbr-fonts-style display-2"
        >
          Track Your Health
        </h2>

        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
          With us you can track your daily habits and how much time you spent
          into various activities.
        </h3>

        <div class="media-container-row pt-5 mt-2">
          <div class="card p-3 align-center">
            <div class="wrap">
              <div
                class="pie_progress progress1"
                role="progressbar"
                data-goal="24"
              >
                <p class="pie_progress__number mbr-fonts-style display-5">
                  50%
                </p>
              </div>
            </div>
            <div class="mbr-crt-title pt-3">
              <h4 class="card-title py-2 mbr-fonts-style display-5">
                How much time of your day have you spent on the social media?
              </h4>
            </div>
          </div>

          <div class="card p-3 align-center">
            <div class="wrap">
              <div
                class="pie_progress progress2"
                role="progressbar"
                data-goal="42"
              >
                <p class="pie_progress__number mbr-fonts-style display-5"></p>
              </div>
            </div>
            <div class="mbr-crt-title pt-3">
              <h4 class="card-title py-2 mbr-fonts-style display-5">
                How much was your peer interaction during the day?
              </h4>
            </div>
          </div>

          <div class="card p-3 align-center">
            <div class="wrap">
              <div
                class="pie_progress progress3"
                role="progressbar"
                data-goal="39"
              >
                <p class="pie_progress__number mbr-fonts-style display-5"></p>
              </div>
            </div>
            <div class="mbr-crt-title pt-3">
              <h4 class="card-title py-2 mbr-fonts-style display-5">
                How much stressful do you feel?
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="toggle1 cid-s7I4rNQMRG" id="toggle1-g">
      <div
        class="mbr-overlay"
        style="opacity: 0.9; background-color: rgb(255, 255, 255);"
      ></div>
      <div class="container">
        <div class="media-container-row">
          <div class="col-12 col-md-8">
            <div class="section-head text-center space30">
              <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">
                Toggle FAQ
              </h2>
            </div>
            <div class="clearfix"></div>
            <div
              id="bootstrap-toggle"
              class="toggle-panel accordionStyles tab-content"
            >
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <a
                    role="button"
                    class="collapsed panel-title text-black"
                    data-toggle="collapse"
                    data-core=""
                    href="#collapse1_14"
                    aria-expanded="false"
                    aria-controls="collapse1"
                  >
                    <h4 class="mbr-fonts-style display-5">
                      What does it mean to have a mental illness?
                    </h4>
                  </a>
                </div>
                <div
                  id="collapse1_14"
                  class="panel-collapse noScroll collapse"
                  role="tabpanel"
                  aria-labelledby="headingOne"
                >
                  <div class="panel-body p-4">
                    <p class="mbr-fonts-style panel-text display-7">
                      Mental illnesses are health conditions that disrupt a
                      person’s thoughts, emotions, relationships, and daily
                      functioning. They are associated with distress and
                      diminished capacity to engage in the ordinary activities
                      of daily life.
                      <br />
                      <br />Mental illnesses fall along a continuum of severity:
                      some are fairly mild and only interfere with some aspects
                      of life, such as certain phobias. On the other end of the
                      spectrum lie serious mental illnesses, which result in
                      major functional impairment and interference with daily
                      life. These include such disorders as major depression,
                      schizophrenia, and bipolar disorder, and may require that
                      the person receives care in a hospital.
                      <br />
                      <br />It is important to know that mental illnesses are
                      medical conditions that have nothing to do with a person’s
                      character, intelligence, or willpower. Just as diabetes is
                      a disorder of the pancreas, mental illness is a medical
                      condition due to the brain’s biology.
                      <br />
                      <br />Similarly to how one would treat diabetes with
                      medication and insulin, mental illness is treatable with a
                      combination of medication and social support. These
                      treatments are highly effective, with 70-90 percent of
                      individuals receiving treatment experiencing a reduction
                      in symptoms and an improved quality of life. With the
                      proper treatment, it is very possible for a person with
                      mental illness to be independent and successful.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <a
                    role="button"
                    class="collapsed panel-title text-black"
                    data-toggle="collapse"
                    data-core=""
                    href="#collapse2_14"
                    aria-expanded="false"
                    aria-controls="collapse2"
                  >
                    <h4 class="mbr-fonts-style display-5">
                      Who does mental illness affect?
                    </h4>
                  </a>
                </div>
                <div
                  id="collapse2_14"
                  class="panel-collapse noScroll collapse"
                  role="tabpanel"
                  aria-labelledby="headingTwo"
                >
                  <div class="panel-body p-4">
                    <p class="mbr-fonts-style panel-text display-7">
                      It is estimated that mental illness affects 1 in 5 adults
                      in America, and that 1 in 24 adults have a serious mental
                      illness. Mental illness does not discriminate; it can
                      affect anyone, regardless of gender, age, income, social
                      status, ethnicity, religion, sexual orientation, or
                      background.
                      <br />
                      <br />Although mental illness can affect anyone, certain
                      conditions may be more common in different populations.
                      For instance, eating disorders tend to occur more often in
                      females, while disorders such as attention
                      deficit/hyperactivity disorder is more prevalent in
                      children.
                      <br />
                      <br />Additionally, all ages are susceptible, but the
                      young and the old are especially vulnerable. Mental
                      illnesses usually strike individuals in the prime of their
                      lives, with 75 percent of mental health conditions
                      developing by the age of 24. This makes identification and
                      treatment of mental disorders particularly difficult,
                      because the normal personality and behavioral changes of
                      adolescence may mask symptoms of a mental health
                      condition.
                      <br />
                      <br />Parents and caretakers should be aware of this fact,
                      and take notice of changes in their child’s mood,
                      personality, personal habits, and social withdrawal. When
                      these occur in children under 18, they are referred to as
                      serious emotional disturbances (SEDs).
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <a
                    role="button"
                    class="collapsed panel-title text-black"
                    data-toggle="collapse"
                    data-core=""
                    href="#collapse3_14"
                    aria-expanded="false"
                    aria-controls="collapse3"
                  >
                    <h4 class="mbr-fonts-style display-5">
                      What are some of the warning signs of mental illness?
                      <div><br /></div>
                    </h4>
                  </a>
                </div>
                <div
                  id="collapse3_14"
                  class="panel-collapse noScroll collapse"
                  role="tabpanel"
                  aria-labelledby="headingThree"
                >
                  <div class="panel-body p-4">
                    <p class="mbr-fonts-style panel-text display-7">
                      Symptoms of mental health disorders vary depending on the
                      type and severity of the condition. The following is a
                      list of general symptoms that may suggest a mental health
                      disorder, particularly when multiple symptoms are
                      expressed at once.
                      <br />
                      <br />In adults:
                      <br />
                      <br />Confused thinking <br />Long-lasting sadness or
                      irritability <br />Extreme highs and lows in mood
                      <br />Excessive fear, worrying, or anxiety <br />Social
                      withdrawal <br />Dramatic changes in eating or sleeping
                      habits <br />Strong feelings of anger <br />Delusions or
                      hallucinations (seeing or hearing things that are not
                      really there) <br />Increasing inability to cope with
                      daily problems and activities <br />Thoughts of suicide
                      <br />Denial of obvious problems <br />Many unexplained
                      physical problems <br />Abuse of drugs and/or alcohol
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="services1 cid-s7I5QDnh9U" id="services1-i">
      <!---->

      <!---->
      <!--Overlay-->

      <!--Container-->
      <div class="container">
        <div class="row justify-content-center">
          <!--Titles-->
          <div class="title pb-5 col-12">
            <h2 class="align-left pb-3 mbr-fonts-style display-1">
              Some Articles
            </h2>
          </div>
          <!--Card-1-->
          <div class="card col-12 col-md-6 p-3 col-lg-4">
            <div class="card-wrapper">
              <div class="card-img">
                <img
                  src="assets/images/alysha-rosly-6gzqo28ecoe-unsplash.jpg"
                  title=""
                />
              </div>
              <div class="card-box">
                <h4 class="card-title mbr-fonts-style display-5">
                  Building Better Mental Health
                </h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  Looking to boost your mood, handle your emotions better, or
                  build resilience? These 6 life-changing strategies can show
                  you how.
                </p>
                <!--Btn-->
                <div class="mbr-section-btn align-left">
                  <a
                    href="https://www.helpguide.org/articles/mental-health/building-better-mental-health.htm"
                    class="btn btn-warning-outline display-4"
                    target="_blank"
                    >Let's go</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!--Card-2-->
          <div class="card col-12 col-md-6 p-3 col-lg-4">
            <div class="card-wrapper">
              <div class="card-img">
                <img
                  src="assets/images/alysha-rosly-ls4xt8n2ddc-unsplash.jpg"
                  title=""
                />
              </div>
              <div class="card-box">
                <h4 class="card-title mbr-fonts-style display-5">
                  Teachers, other school staff can ease children’s mental health
                  issues
                </h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  Study findings demonstrated that school-based mental health
                  services delivered by teachers and other school personnel
                  helped reduce mental health issues in elementary-aged
                  children.
                </p>
                <!--Btn-->
                <div class="mbr-section-btn align-left">
                  <a
                    href="https://www.healio.com/news/psychiatry/20180309/teachers-other-school-staff-can-ease-childrens-mental-health-issues"
                    class="btn btn-warning-outline display-4"
                    target="_blank"
                    >Let's go</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!--Card-3-->
          <div class="card col-12 col-md-6 p-3 col-lg-4 last-child">
            <div class="card-wrapper">
              <div class="card-img">
                <img
                  src="assets/images/hello-i-m-nik-z1d-lp8sjui-unsplash.jpg"
                  title=""
                />
              </div>
              <div class="card-box">
                <h4 class="card-title mbr-fonts-style display-5">
                  Young people’s mental health deteriorated the most during the
                  pandemic, study finds
                </h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  Public health responses to the pandemic have focused on
                  preventing the spread of the virus, limiting the number of
                  deaths and easing the burden on healthcare systems.
                </p>
                <!--Btn-->
                <div class="mbr-section-btn align-left">
                  <a
                    href="https://theconversation.com/young-peoples-mental-health-deteriorated-the-most-during-the-pandemic-study-finds-143326"
                    class="btn btn-warning-outline display-4"
                    target="_blank"
                    >Let's go</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="features18 popup-btn-cards cid-s7I5UrgWd9"
      id="features18-j"
    >
      <div class="container">
        <h2
          class="mbr-section-title pb-3 align-center mbr-fonts-style display-2"
        >
          Some famous speakers who are bringing about a change in the mental
          health state.
        </h2>
        <h3
          class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light"
        ></h3>
        <div class="media-container-row pt-5">
          <div class="card p-3 col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card-img">
                <div class="mbr-overlay"></div>
                <div class="mbr-section-btn text-center">
                  <a
                    href="https://isha.sadhguru.org/"
                    class="btn btn-primary display-4"
                    target="_blank"
                    >Learn More</a
                  >
                </div>
                <img
                  src="assets/images/20060425-sha-0079-3-copy.jpg"
                  title=""
                />
              </div>
              <div class="card-box">
                <h4 class="card-title mbr-fonts-style display-7">
                  Sadhguru
                </h4>
                <p class="mbr-text mbr-fonts-style align-left display-7">
                  Jaggi Vasudev, known publicly as Sadhguru, is an Indian yogi
                  and author.
                </p>
              </div>
            </div>
          </div>
          <div class="card p-3 col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card-img">
                <div class="mbr-overlay"></div>
                <div class="mbr-section-btn text-center">
                  <a
                    href="https://dariusforoux.com/"
                    class="btn btn-primary display-4"
                    target="_blank"
                    >Learn More</a
                  >
                </div>
                <img src="assets/images/unnamed.jpg" title="" />
              </div>
              <div class="card-box">
                <h4 class="card-title mbr-fonts-style display-7">
                  Darius Foroux
                </h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  "If you’re truly committed to starting something, get started,
                  but make sure that you keep going."
                </p>
              </div>
            </div>
          </div>

          <div class="card p-3 col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card-img">
                <div class="mbr-overlay"></div>
                <div class="mbr-section-btn text-center">
                  <a
                    href="https://jayshetty.me/"
                    class="btn btn-primary display-4"
                    target="_blank"
                    >Learn More</a
                  >
                </div>
                <img src="assets/images/xei-izvv.jpg" title="" />
              </div>
              <div class="card-box">
                <h4 class="card-title mbr-fonts-style display-7">
                  Jay Shetty
                </h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  Jay Shetty is a British vlogger, author, former monk, and
                  motivational speaker.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mbr-section form3 cid-s7I5wjhPBa" id="form3-h">
      <div class="container">
        <div class="row justify-content-center">
          <div class="title col-12 col-lg-8">
            <h2 class="align-center pb-2 mbr-fonts-style display-2">
              Subscribe to our newsletter and stay connected with us.
            </h2>
            <h3
              class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5"
            ></h3>
          </div>
        </div>

        <div class="row py-2 justify-content-center">
          <div class="col-12 col-lg-6 col-md-8" data-form-type="formoid">
            <!---Formbuilder Form--->
            <form
              action=""
              method="POST"
              class="mbr-form form-with-styler"
              data-form-title="Form"
            >
              <input
                type="hidden"
                name="email"
                data-form-email="true"
                value="l+Gc5KWNYEYAqSVg/xOo9Hx3egIF7+4hT4ZNrvhUZNDkOzawgSK+zHuvddx3hB+TKfxE9buXBgdbgrWD15S4BcWeLiqu+cdInSOlBK9D/R8HjPTKX1cB1/5Oq/0qMVOg"
              />
              <div class="row">
                <div
                  hidden="hidden"
                  data-form-alert=""
                  class="alert alert-success col-12"
                >
                  Thanks for filling out the form!
                </div>
                <div
                  hidden="hidden"
                  data-form-alert-danger=""
                  class="alert alert-danger col-12"
                ></div>
              </div>
              <div class="dragArea row">
                <div class="form-group col" data-for="email">
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    data-form-field="Email"
                    required="required"
                    class="form-control display-7"
                    id="email-form3-h"
                  />
                </div>
                <div class="col-auto input-group-btn">
                  <button type="submit" class="btn btn-primary display-4">
                    SUBSCRIBE
                  </button>
                </div>
              </div>
            </form>
            <!---Formbuilder Form--->
          </div>
        </div>
      </div>
    </section>

    <section class="cid-s7I9ZUQGmX" id="footer1-k">
      <div class="container">
        <div class="media-container-row content text-white">
          <div class="col-12 col-md-3">
            <div class="media-wrap">
              <a>
                <img src="assets/images/health-2.png" title="" />
              </a>
            </div>
          </div>
          <div class="col-12 col-md-3 mbr-fonts-style display-7">
            <h5 class="pb-3">
              Address
            </h5>
            <p class="mbr-text">
              1234 Street Name
              <br />City, AA 99999
            </p>
          </div>
          <div class="col-12 col-md-3 mbr-fonts-style display-7">
            <h5 class="pb-3">
              Contacts
            </h5>
            <p class="mbr-text">
              Email: rishav7203@gmail.com
              <br />Phone: +1 (0) 000 0000 001 <br />Fax: +1 (0) 000 0000 002
            </p>
          </div>
          <div class="col-12 col-md-3 mbr-fonts-style display-7">
            <h5 class="pb-3"></h5>
            <p class="mbr-text"><br /><br /><br /></p>
          </div>
        </div>
        <div class="footer-lower">
          <div class="media-container-row">
            <div class="col-sm-12">
              <hr />
            </div>
          </div>
          <div class="media-container-row mbr-white">
            <div class="col-sm-6 copyright">
              <p class="mbr-text mbr-fonts-style display-7">
                © Copyright 2020 RISHAV VISEN - All Rights Reserved
              </p>
            </div>
            <div class="col-md-6">
              <div class="social-list align-right">
                <div class="soc-item">
                  <a href="https://twitter.com/ft_rishav/" target="_blank">
                    <span
                      class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"
                    ></span>
                  </a>
                </div>
                <div class="soc-item">
                  <a
                    href="https://www.facebook.com/profile.php?id=100010348545299"
                    target="_blank"
                  >
                    <span
                      class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"
                    ></span>
                  </a>
                </div>
                <div class="soc-item">
                  <a
                    href="https://www.linkedin.com/in/rishav-visen-8b8b09140/"
                    target="_blank"
                  >
                    <span
                      class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"
                    ></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/parallax/jarallax.min.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/as-pie-progress/jquery-as-pie-progress.min.js"></script>
    <script src="assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
    <script src="assets/mbr-popup-btns/mbr-popup-btns.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/theme/js/script.js"></script>
    <script src="assets/formoid/formoid.min.js"></script>

    <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
      <a style="text-align: center;"
        ><i
          class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"
        ></i
      ></a>
    </div>
  </body>
</html>
