<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleReg.css"/>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="user signinbox">
          <div class="imgbox">
            <img
              src="https://source.unsplash.com/720x600/?calm,peace,flowers"
            />
          </div>
          <div class="formbox">
            <form action = "/regis" method = "POST">
              <h2>Registration</h2>
			  <input type="text" name="Name" placeholder="Username" required />
              <input type="mail" name="Email" placeholder="Email ID" required />
              <input type="password" name="Password" placeholder="Password" required />
              <input type="submit" name="" placeholder="Register" />

              <br />
              <br />
              <br />
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
